*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Open Sans', sans-serif;
}
header{
  background-color: #4ABDAC;
}
h1,h2,h3,h4{
  font-family: 'Inter', sans-serif;
}
.container{
  width:80%;
  margin: 0 auto;
  padding: 3rem;
}
.flex{
  display:flex;
}
/* Head designs */
.nav-bar{
  height:5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #DFDCE3;
  font-size: 1.4rem;
}
.card-img{
  object-fit: cover;
  min-width: 300px;
  max-width: 300px;
  height: 400px;
  margin-right: 2rem;
}
.card-data{
  flex-direction: column;
}